<div class="section">
	<div class="container">
		<h2 class="title is-2">
			Workorders {{employee ? 'with ' + employee.name : ''}}
		</h2>

		<div class="columns">
			<div class="column">
				<button ng-click="goBack()" class="button is-primary is-medium">Go Back</button>
				<a href="/dashboard" class="button is-success is-medium">Back to Dashboard</a>
			</div>
			<div class="column">
				<label class="label">Search</label>
				<p class="control">
					<input ng-model="search.query" ng-model-options="{ debounce: 250 }" class="input" type="text" placeholder="Workorder ID or Reference">
				</p>
			</div>
		</div>

		<hr>

		<table class="table is-bordered is-narrow">
			<thead>
				<tr>
					<td>ID</td>
					<td>Reference</td>
					<td>Created</td>
					<td>Shop</td>
					<td>Total Time (Minutes)</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="workorder in workorders">
					<td>{{workorder.id}}</td>
					<td>{{workorder.reference}}</td>
					<td>{{workorder.createdAt | date: 'MMM dd, yyyy'}}</td>
					<td>{{workorder.shop_name}}</td>
					<td>{{workorder.total_workorder_time}}</td>
					<td>
						<a href="/admin/tasktimes?wid={{workorder.id}}" class="button is-primary">View Task Times</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
