<div class="section">
	<div ng-if="openTasks && openTasks.length > 0" class="container">
		<h1 class="title is-2">Your Open Tasks</h1>

		<button ng-click="newTask()" class="button is-large is-success">Start New Task</button>
		<hr>
		<table class="table is-bordered is-striped is-narrow">
			<thead>
				<tr>
					<td>Workorder</td>
					<td>Task</td>
					<td>Notes</td>
					<td>Status</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in openTasks">
					<td>{{task.workorder_reference}}</td>
					<td>{{task.task_name}}</td>
					<td>{{task.notes}}</td>
					<td>
						<span ng-if="!task.pause_time" class="tag is-success is-large">Open</span>
						<span ng-if="task.pause_time"class="tag is-warning is-large">Paused</span>
					</td>
					<td>
						<button ng-if="!task.pause_time" ng-click="pauseTask(task)" class="button is-large is-warning">PAUSE</button>
						<button ng-if="task.pause_time" ng-click="continueTask(task)" class="button is-large is-success">CONTINUE</button>
						<button ng-click="stopTask(task)" class="button is-large is-danger">STOP</button>
						<button ng-click="newNote(task)" class="button is-large is-primary">Add Note</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<h1 class="title is-2">Your Actions</h1>

		<hr>

		<div class="columns is-multiline is-mobile">
			<div class="column is-one-third is-one-third-mobile" ng-repeat="option in options">
				<div class="card is-full-width">
					<header class="card-header">
						<p class="card-header-title">{{option.title}}</p>
					</header>

					<div ng-click="optionAction(option.actions[0].action)" class="card-content">
						<div class="content">
							<p class="has-text-centered">
								<span class="icon is-large">
								  <i class="{{option.icon}}"></i>
								</span>
							</p>
							<p class="has-text-centered">{{option.description}}</p>
						</div>
					</div>

					<footer class="card-footer">
						<a ng-click="optionAction(action.action)" ng-repeat="action in option.actions" class="card-footer-item">
							{{action.name}}
						</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" ng-class="{'is-active': openNewTask == true}">
	<div ng-click="openNewTask = false" class="modal-background"></div>
	<div class="modal-container">
		<div class="modal-content">
			<div class="box">
				<div class="content">
					<h1 class="title is-2">New Task</h1>
					<h2 class="subtitle is-3">{{newTaskTime | date:'medium'}}</h2>

					<label class="label">Workorder Number</label>
					<p class="control has-addons">
						<span class="select">
							<select ng-model="workorder_pre">
								<option value="">NONE</option>
								<option value="w3423">W3423</option>
							</select>
						</span>

						<input ng-model="workorder" class="input" type="text" placeholder="Workorder Number...">
					</p>

					<label class="label">Task</label>
					<p>
						<span class="select">
							<select ng-model="task" ng-disabled="!workorder">
								<option value="">Select Task</option>
								<option value="{{task.id}}" ng-repeat="task in tasks">{{task.name}}</option>
							</select>
						  </span>
					</p>

					<label class="label">Notes</label>

					<p class="control">
						<textarea ng-model="notes" class="textarea" placeholder="Notes.."></textarea>
					</p>

					<button ng-click="startTask()" ng-disabled="!workorder || !task" class="button is-large is-success">Start Task</button>
				</div>
			</div>
		</div>
	</div>
	<button ng-click="openNewTask = false" class="modal-close"></button>
</div>



<div class="modal" ng-class="{'is-active': openNote == true}">
	<div ng-click="openNote = false" class="modal-background"></div>
	<div class="modal-container">
		<div class="modal-content">
			<div class="box">
				<div class="content">
					<h1 class="title is-2">Add Note</h1>


					<p class="control">
						<textarea ng-model="addNote" class="textarea" placeholder="Notes.."></textarea>
					</p>

					<button ng-click="submitNote()" ng-disabled="!addNote" class="button is-large is-success">Add Note</button>
				</div>
			</div>
		</div>
	</div>
	<button ng-click="openNote = false" class="modal-close"></button>
</div>
