<div class="section">
	<div ng-if="openTasks && openTasks.length > 0" class="container">
		<h1 class="title is-2">Your Open Tasks</h1>

		<table class="table is-bordered is-striped is-narrow">
			<thead>
				<tr><td>Hello</td></tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
	<div class="container">
		<h1 class="title is-2">Your Actions</h1>

		<hr>

		<div class="columns">
			<div class="column is-one-third" ng-repeat="option in options">
				<div class="card is-full-width">
					<header class="card-header">
						<p class="card-header-title">{{option.title}}</p>
					</header>

					<div ng-click="optionAction(option.actions[0].action)" class="card-content">
						<div class="content">
							<p class="has-text-centered">
								<span class="icon is-large">
								  <i class="{{option.icon}}"></i>
								</span>
							</p>
							<p class="has-text-centered">{{option.description}}</p>
						</div>
					</div>

					<footer class="card-footer">
						<a ng-click="optionAction(action.action)" ng-repeat="action in option.actions" class="card-footer-item">
							{{action.name}}
						</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" ng-class="{'is-active': openNewTask == true}">
	<div ng-click="openNewTask = false" class="modal-background"></div>
	<div class="modal-container">
		<div class="modal-content">
			<div class="box">
				<div class="content has-text-centered">
					<h1 class="title is-2">New Task</h1>
					<h2 class="subtitle is-3">{{newTaskTime | date:'medium'}}</h2>

					<p class="control has-addons">
						<span class="select is-large">
							<select ng-model="workorder_pre">
								<option value="">NONE</option>
								<option value="w3423">W3423</option>
							</select>
						</span>

						<input ng-model="workorder" class="input is-large" type="text" placeholder="Workorder Number...">
					</p>

					<p>
						<span class="select is-large">
							<select ng-model="task" ng-disabled="!workorder">
								<option value="">Select Task</option>
								<option value="{{task.id}}" ng-repeat="task in tasks">{{task.name}}</option>
							</select>
						  </span>
					</p>

					<button ng-click="startTask()" ng-disabled="!workorder || !task" class="button is-large is-success">Start Task</button>
				</div>
			</div>
		</div>
	</div>
	<button ng-click="openNewTask = false" class="modal-close"></button>
</div>
