<!DOCTYPE html>
<html>
  <head>
    <title>MBD Repair Tools</title>
	<base href="/">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bulma.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="mbd">
	  <section ng-controller="Navigation" class="hero is-dark">
		<div class="hero-header">
			<header class="header">
				<div class="container">
					<div class="header-left">
						<a href="/">
							<img src="/images/logo.png" width="150px;" alt="" class="header-item">
						</a>
					</div>

					<span id="header-toggle" class="header-toggle">
				      <span></span>
				      <span></span>
				      <span></span>
				    </span>

					<div class="header-right header-menu">
						<span ng-show="$root.user" class="header-item">
							<a href="/dashboard">Dashboard</a>
						</span>
						<span ng-show="last_user" class="header-item">
							Last User: {{last_user.name}}
						</span>
					</div>
				</div>
			</header>
		</div>
		<div ng-show="title" class="hero-content">
	    	<div class="container has-text-centered">
				<h1 class="title is-1">
					<span ng-if="!last_user">MBD Repair Tools</span>
					<span ng-if="last_user">{{last_user.name}}</span>
				</h1>
				<h2 class="subtitle">
					{{title}}
				</h2>
			</div>
		</div>

		<div class="notification is-danger is-flash" ng-show="showError == true;">
		  <button ng-click="dismissError()" class="delete"></button>
			{{ errorMessage }}
		</div>
	</section>


	<div id="view" ng-view autoscroll="true">
		<%- body %>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>© MBD Wheel and Brake Repair and Services, LLC 2012-2016</strong>
				</p>
			</div>
		</div>
	</footer>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/fastclick.js"></script>
    <script src="/js/mbd.js"></script>
    <script src="/js/controllers/admin.js"></script>
    <script src="/js/controllers/admin_employees.js"></script>
    <script src="/js/controllers/admin_prefix.js"></script>
    <script src="/js/controllers/admin_shops.js"></script>
    <script src="/js/controllers/admin_tasks.js"></script>
    <script src="/js/controllers/admin_tasktimes.js"></script>
    <script src="/js/controllers/admin_workorders.js"></script>
    <script src="/js/controllers/dashboard.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/navigation.js"></script>
    <script src="/js/controllers/unlock.js"></script>
    <script src="/js/controllers/controllers/admin_employees.js"></script>
    <script src="/js/controllers/controllers/unlock.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
