<section class="section">
	<div class="container has-text-centered">
		<h1 class="title is-1">Enter Password To Unlock</h1>

		<input style="display:none" type="text" name="fakeusernameremembered"/>
		<input style="display:none" type="password" name="fakepasswordremembered"/>

		<p class="control">
			<input autocomplete="false" name="none" ng-model="password" class="input is-large" type="password" placeholder="Password">
		</p>

		<button ng-click="submit()" class="button is-large is-info">Enter</button>
	</div>
</section>
